# Includes the main requirements
-r requirements.txt
httpx==0.28.1
isort==6.0.1
mypy==1.16.1
pre-commit==4.2.0

# Testing
pytest==8.4.1
pytest-asyncio==1.0.0
pytest-cov==6.2.1
ruff==0.12.0
types-passlib==1.7.7
